html, body, .ng-scope {
  height: 100%;
  width: 100%;
}

body {
  background-color: #E4E4E4;
}

a {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 28px;
  color: #fff;
}

.subtext {
  color: #333;
  font-size: 20px;
}

.navbar-default {
  border-color: #333;
  background-color: #333;
  margin-bottom: 0;
  position: absolute;
}

.nav-icons {
  margin: 10px 10px;
}

.nav-icon {
  color: #FFC204;
}

.nav-icon:hover {
  color: #fff;
}

.badge {
  margin-bottom:10px;
}

.landing-container {
  height: 800px;
  background: url('../assets/header-bg.jpg') no-repeat;
  background-size: cover;
  opacity: 0.87;
}

.landing-container h1 {
  font-size: 85px;
  font-family: 'Bitter', serif;
  margin-top: 200px;
  color: #fff;
}

.landing-container p {
  margin-bottom: 75px;
}

.btn-default {
  display: block;
  width: 250px;
  margin: 10px auto;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  border-radius: 24px;
  background-color: #FFC204;
  border-color: #FFC204;
  color: #333;
}

.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-sign {
  margin-top: 40px;
}

.btn-add {
  width: 150px;
}

.signup-container,
.login-container,
.dashboard-container,
.upload-container,
.gallery-container,
.user-container {
  padding-top: 100px;
}

.signup-container h1,
.login-container h1,
.dashboard-container h1,
.upload-container h1,
.gallery-container h1,
.user-container h1 {
  font-size: 44px;
  font-family: 'Bitter', serif;
  color: #333;
  margin-bottom: 30px;
}

.dashboard-container h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.dashboard-container h3 {
  font-size: 28px;
  font-family: 'Archivo Narrow', sans-serif;
}

.dashboard-container p {
  font-size: 18px;
  color: #333;
  text-align: center;
}

.dashboard-container ul li {
  list-style-type: none;
  text-align: center;
}

.signupForm,
.loginForm,
.addForm,
.searchForm {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  color: #333;
}

.upload {
  padding-top: 20px;
  padding-bottom: 20px;
}

.thumbnail {
  
}

.image-block {
    border: 3px solid white ;
    background-color: black;
    padding: 0px;
    margin: 0px;
    height:200px;
    width: 200px;
    text-align: center;
    vertical-align: bottom;
}

.image-block > p {
    width: 100%;
    height: 100%;
    font-weight: normal;
    font-size: 19px;
    padding-top: 80%;
    background-color: rgba(3,3,3,0.0);
    color: rgba(6,6,6,0.0);
}

.image-block:hover > p {
    background-color: rgba(28,61,178,0.5);
    color: white;
}

.friendtable {
    width:25%;
    margin: 0 auto;
    background-color: #fff;
}

th, td {
    padding: 15px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 22px;
}

