html, body, .ng-scope {
  height: 100%;
}
.jumbotron {
  height: 800px;
  color: white;
  background-image: url('../assets/header-bg.jpg');
  text-shadow: #444 0 1px 1px;
}

.dashboard-container {
    display:table;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.dashboard-row {
    height: 100%;
    display: table-row;
}

.nav-color {
  background-color: #FFC204;
  margin: 0;
  height: 60px;
  border-radius:0;
}

.dashboard-left {
  float: none;
  padding-top: 2em;
  background-color: #FFF5D9;
  display: table-cell;
}

.dashboard-right {
  float: none;
  display: table-cell;
}