<div>
 <form name='signUpForm' ng-submit='signUp()' class='signupForm' autocomplete="off">
  <div class="form-group">
 	  <label for="inputFirstName">First Name</label>
 		<input type='text' name='firstname' ng-model="firstName" id="inputFirstName"required><br/>
  </div>
  <div class="form-group">
 	  <label for="inputLastName">Last Name</label>
 		<input type='text' name='lastname' ng-model="lastName" id="inputLastName"required><br/>
  </div>


  <div class="form-group">
    <label for="inputUserName">Username</label>
    <input type='text' name='username' ng-model="userName" id="inputUserName"required><br/>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type='password' name='password' ng-model="password" id="inputPassword"required><br/>
  </div>
  <button class="btn btn-primary" type='submit'>Signup</button>
 </form>
</div>
