<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-right list-inline nav-icons">
      <li>
        <a href="#"><i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-users fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-envelope fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <span class="badge">0</span>
      </li>
    </ul>
  </div>
</nav>

  <div class="signup-container">
    <h1>sign up</h1>
    <form class='signupForm' ng-submit='signUp()' autocomplete="off">
      <div class="form-group">
     	  <label class='firstName' for="inputFirstName">first name</label>
        <input type='text' class="form-control" name='firstname' ng-model="firstName" id="inputFirstName"required>
      </div>

      <div class="form-group">
     	  <label for="inputLastName">last name</label>
        <input type='text' class="form-control" name='lastname' ng-model="lastName" id="inputLastName"required>
      </div>

      <div class="form-group">
        <label for="inputUserName">username</label>
        <input type='text' class="form-control" name='username' ng-model="userName" id="inputUserName"required>
      </div>

      <div class="form-group">
        <label for="inputPassword">password</label>
        <input type='password' class="form-control" name='password' ng-model="password" id="inputPassword"required>
      </div> 

      <div class="form-group">
         <!-- Show the thumbnail only when the picture is uploaded -->
         <a href="{{picture}}" class="thumbnail" ng-if="picture">
         <!-- the picture is rendered with width: 500 and sharpened -->
        <img ng-src="{{picture | fpConvert: {filter:'sharpen'} }}">
        </a>
      </div>

      <button type="button" class="btn btn-default btn-sign" ng-click="upload()">upload picture<span class="caret"></span></button>
      <button class="btn btn-default" type='submit'>submit</button>
      <p class="subtext">or</p>
      <a href="/auth/facebook" class="btn btn-default btn-fb" role="button">log in with facebook</a>
   </form>
  </div> 
