<div class="navbar nav-color">
  <div class="container-fluid">
  <div class='navbar-left'>
    <div class="title">
      <h2 class="text-left">borrow</h2>
    </div>
  </div>
    <div class="navbar-right">
      <p class="navbar-text">
        <a class="btn btn-default navbar-link" href="/#/signup">Signup</a>
        <a class="btn btn-default navbar-link" href="/#/login">Login</a>
      </p>
    </div>
  </div>
</div>

<a href="http://hackreactor.com">
  <img style="position: absolute; top: 60px; right: 0; border: 0;" src="http://i.imgur.com/x86kKmF.png" alt="Built at Hack Reactor">
  </a>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid text-center">
    <h1>borrow</h1>
    <p>Never, ever, buy anything again.</p>
  </div>
</div>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why borrow?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <span class="glyphicon glyphicon-user"></span>
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Make new friends</h4>
                    <p class="text-muted">Borrow is a social network. Find people that have similar intrests in things you like. Hit them up and borrow.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <span class="glyphicon glyphicon-tree-conifer"></span>
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Protect The Environment</h4>
                    <p class="text-muted">Less things means less waste down the road. Instead of buying something that you'll only use once or twice that will eventually make its way to a landfill, borrow something from someone and save the planet!</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <span class="glyphicon glyphicon-piggy-bank"></span>
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Save Money</h4>
                    <p class="text-muted">Borrowing things from friends is free. Plus, you don't have to spend money on things that you may only have use of for a few times.</p>
                </div>


            </div>
        </div>
    </section>