<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-right list-inline nav-icons">
      <li>
        <a ng-click="signout()"><i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/users"><i class="fa fa-users fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-envelope fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <span class="badge">{{ numMessages }}</span>
      </li>
    </ul>
  </div>
</nav>

<div class="gallery-container">
  <h1>find an item</h1>
  <form class="searchForm" action="" method="POST" role="form">
    <div class="form-group">
      <input type="search" class="form-control" ng-model="search">
      <p class="subtext">found {{(items | filter:search).length}} of {{items.length}}</p>
    </div>
  </form>
  <div class="item" ng-repeat="item in items | filter:search | orderBy:'item.itemName':reverse" ng-click='borrow(item)' >
    <div class="thumbnail">
      <img ng-src="{{item.picture | fpConvert: {filter:'sharpen', w:300, h:150} }}" />
      <div class="caption text-center">
        <h3>{{item.itemName}}</h3>
        <p><label>Description: </label> {{item.itemDescription}}</p>
        <button class="btn btn-default">borrow?</button>
        <a ng-href="/#/detail/{{item.id}}"> </a>
      </div>
    </div>
  </div>
  <a class="btn btn-default" href="#/dashboard">return to dashboard</a>
 </div>


