<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-right list-inline nav-icons">
      <li>
        <a ng-click="signout()"><i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/users"><i class="fa fa-users fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-envelope fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <span class="badge">{{ numMessages }}</span>
      </li>
    </ul>
  </div>
</nav>

<div class="user-container">
  <h1>users</h2>
    <table class="friendtable">
			<tr class="friendlist" ng-repeat='user in users'>
        <td><img ng-src="{{user.picture | fpConvert: {filter:'sharpen'} }}" class="img-circle center-block" style="width:80px;height:80px"> </td>
        <td> {{user.userName}} </td>
        <td> <button class="btn btn-default btn-add" ng-click='addFriend(user.userName)'>add friend</button></td>
    </table>
    <br>
  <a class="btn btn-default" href="#/dashboard">return to dashboard</a>
</div>


