

  <div class="navbar nav-color">
  <div class="container-fluid">
  <div class='navbar-left'>
    <div class="title">
      <h2 class="text-left">borrow</h2>
    </div>
  </div>

    <div class="navbar-right">
      <p class="navbar-text">
      <a class="btn btn-default navbar-link" href="#/dashboard">Go back to dashboard</a>
        <a class="btn btn-default navbar-link" ng-click='signout()'>Logout</a>
      </p>
    </div>
  </div>
</div>

<section class="userbg">
    <h2 class="userlist">User List</h2>
    <table class="friendtable">
			<tr class="friendlist" ng-repeat='user in users'>
        <td > <img ng-src="{{user.picture | fpConvert: {filter:'sharpen'} }}" class="img-circle center-block" style="width:80px;height:80px"> </td>
        <td > {{user.userName}} </td>
        <td> <button class="btn btn-default" ng-click='addFriend(user.userName)'>Add friend</button></td>
      </table>


</section>
