

<div class='dashboard'>
	<section>
		<aside>
			<img ng-src='pathtoimg/{{hash}}' class='user-profile-image' alt="Description">
			<h1 class='user-name' ng-model='username'></h1>
			<ul class='user-friends'>
				<!-- <li ng-repeat=''>{{}}</li> -->
			</ul>
		</aside>
		</section>
	<a href="#/upload" >Add a thing!</a>
	<div>
   <a href="#/gallery">Go back to gallery</a>
   </div>

	<div class='user-inventory' ng-repeat='img in inventory'>
		<image ng-src=''/>
	</div>
</div>
<button type='submit' ng-click='signout()'>Logout</button>
