<!-- Nav -->
<div class="navbar nav-color">
  <div class="container-fluid">
  <div class='navbar-left'>
    <div class="title">
      <h2 class="text-left">borrow</h2>
    </div>
  </div>
    <div class="navbar-right">
      <p class="navbar-text">
        <a class="navbar-link" ng-click='signout()'>Logout</a>
      </p>
    </div>
  </div>
</div>

<!-- Dashboard Container -->
<div class="container dashboard-container">
  <div class="row dashboard-row">

    <!-- Left Column -->
    <div class="col-lg-3 dashboard-left">
      <img ng-src="{{user.picture.url | fpConvert: {filter:'sharpen'} }}" class="img-circle center-block" style="width:150px;height:150px">
      <p class="text-center">Check out my things!</p>
      <div class="text-center">
				<a class="btn btn-info" href="#/upload" >Add a thing!</a>
				<a class="btn btn-info" href="#/gallery">Search all the things</a>
        <a class="btn btn-info" href="#/users">Search all the users</a>
			</div>
		</div>

      <div class="form-group">
        <label for="picture">Profile Picture</label>
        <div class="text-center">
            <button type="button" class="btn btn-default" ng-click="upload()">Upload <span class="caret"></span></button>
            <div style="margin-top:10px;">
                <!-- Show the thumbnail only when the picture is uploaded -->
                <a href="{{user.picture.url}}" class="thumbnail" ng-if="user.picture">
                <!-- the picture is rendered with width: 500 and sharpened -->
                <img ng-src="{{user.picture.url | fpConvert: {filter:'sharpen'} }}">
                </a>
            </div>
        </div>
      </div>
                <hr />
        <a class="btn btn-info" href="#/upload" >Add a thing!</a>
        <a class="btn btn-info" href="#/gallery">Search all the things</a>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-lg-9 dashboard-right">
      <div class="row dashboard-row-top-right">
        <h3>Messages</h3>
        <div class="item-requests" ng-repeat='request in requestMessages'>
          <p>{{request}})</p>
        </div>
      <div class="row dashboard-row-bottom-right">
        <div id="itemsContainer">
          <h3>You are currently have {{ numPersonalItems }} items</h3>
        </div>
        <h3>My things</h3>
        <div class="image-block col-sm-4" ng-repeat='item in items' style="background: url({{item}}) no-repeat center top;background-size:cover;">
          <p>borrow?</p>
        </div>
      </div>
      </div>
    </div>
