<!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./styles/style.css">
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon glyphicon-user"></span>Upload Item Form
            </h2>
        </div>
        <div class="panel-body">
            <!-- The form to add item information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" placeholder="Item name" ng-model="item.itemName" required>
            <!-- intialize borrowed to false upon uploading a new item -->
                    <input type="hidden" name="borrowed" ng-init="item.borrowed='false';" ng-value="borrowed"/>
                </div>

                <div class="form-group">
                    <label for="username">Desciption</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="item.itemDescription" required>
                </div>
                <div class="form-group">
                    <label for="picture">Main picture</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-default" ng-click="upload()">
                            Upload <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <a href="{{item.picture.url}}" class="thumbnail" ng-if="item.picture">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{item.picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="picture">More pictures? (Max 3, optional!)</label>
                    <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="uploadMultiple()">
                    Upload <span class="caret"></span>
                    </button>
                    <!-- Show the thumbanil of more pictures -->
                        <div style="margin-top:10px;" ng-repeat="picture in item.morePictures">     <div class="col-md-{{12 / item.morePictures.length}}">
                            <a href="{{picture.url}}" class="thumbnail">
                              <img ng-src="{{picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                <hr />
                <button type="submit" class="btn btn-danger btn-block"  ng-click="createItem()" ng-disabled="item.$invalid || !item.picture">Submit</button>
            </form>
            <a href="#/dashboard">Go back to dashboard</a>
            <div>
            <a href="#/gallery">Go back to gallery</a>
            </div>

        </div>
    </div>
</div>
