<!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./styles/style.css">

<body>
  <div class="navbar nav-color">
  <div class="container-fluid">
  <div class='navbar-left'>
    <div class="title">
      <h2 class="text-left">borrow</h2>
    </div>
  </div>

    <div class="navbar-right">
      <p class="navbar-text">
        <a class="btn btn-default navbar-link" ng-click='signout()'>Logout</a>
      </p>
    </div>
  </div>
</div>

<section class="uploadbg" >

<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default text-center">
        <div class="panel-heading " >
            <h2 class="panel-title text-center">
                <span></span>Upload Item Form
            </h2>
        </div>

        <div class="panel-body">
            <!-- The form to add item information -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" placeholder="Item name" ng-model="item.itemName" required>
            <!-- intialize borrowed and requested to false upon uploading a new item -->
                    <input type="hidden" name="borrowed" ng-init="item.borrowed='false';" ng-value="borrowed"/>
                    <input type="hidden" name="requested" ng-init="item.requested='false';" ng-value="requested"/>
                </div>

                <div class="form-group">
                    <label for="username">Desciption</label>
                    <input type="text" class="form-control" placeholder="Description" ng-model="item.itemDescription" required>
                </div>
                <div class="form-group">
                    <label for="picture">Main picture</label>
                    <div class="text-center">
                        <button type="button" class="btn btn-default" ng-click="upload()">
                            Upload <span class="caret"></span>
                        </button>
                        <div style="margin-top:10px;">
                            <!-- Show the thumbnail only when the picture is uploaded -->
                            <a href="{{item.picture.url}}" class="thumbnail" ng-if="item.picture">
                            <!-- the picture is rendered with width: 500 and sharpened -->
                            <img ng-src="{{item.picture.url | fpConvert: {filter:'sharpen'} }}">
                            </a>
                        </div>
                    </div>
                </div>
                <hr />
            <button type="submit" class="btn btn-info"  ng-click="createItem()" ng-disabled="item.$invalid || !item.picture">Submit</button>
            </form>


            <a class="btn btn-default navbar-link" href="#/dashboard">Go back to dashboard</a>

        </div>
    </div>
</div>
</section>
