<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-right list-inline nav-icons">
      <li>
        <a ng-click="signout()"><i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/users"><i class="fa fa-users fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#/dashboard"><i class="fa fa-envelope fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <span class="badge">{{ numMessages }}</span>
      </li>
    </ul>
  </div>
</nav>


    <div class="upload-container">
        <h1>upload an item</h1>
        <form class ="addForm" novalidate>
            <div class="form-group">
                <label for="username">name</label>
                <input type="text" class="form-control" ng-model="item.itemName" required>
            <!-- intialize borrowed and requested to false upon uploading a new item -->
                <input type="hidden" name="borrowed" ng-init="item.borrowed='false';" ng-value="borrowed"/>
                <input type="hidden" name="requested" ng-init="item.requested='false';" ng-value="requested"/>
            </div>

            <div class="form-group">
                <label for="username">description</label>
                <input type="text" class="form-control" ng-model="item.itemDescription" required>
            </div>

            <div class="form-group">
                <label for="picture">picture</label>
                <div class="text-center">
                    <button type="button" class="btn btn-default" ng-click="upload()">upload <span class="caret"><span></button>
                        <!-- Show the thumbnail only when the picture is uploaded -->
                        <div class="upload">
                          <a href="{{item.picture}}" class="thumbnail" ng-if="item.picture">
                          <!-- the picture is rendered with width: 500 and sharpened -->
                          <img ng-src="{{item.picture | fpConvert: {filter:'sharpen'} }}">
                          </a>
                        </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default"  ng-click="createItem()">submit</button>
            <a class="btn btn-default" href="#/dashboard">return to dashboard</a>
        </form>

    </div>
