<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="navbar-right list-inline nav-icons">
      <li>
        <a href="#"><i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-users fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-envelope fa-2x nav-icon" aria-hidden="true"></i></a>
      </li>
      <li>
        <span class="badge">0</span>
      </li>
    </ul>
  </div>
</nav>

 <div class="login-container">
  <h1>log in</h1>
    <form class='loginForm' ng-submit='login()' autocomplete="off">
      <div class="form-group">
        <label for="inputUserName">username</label>
        <input type='text' class="form-control" name='username' ng-model="userName" id="inputUserName"required>
      </div>
      <div class="form-group">
        <label for="inputPassword">password</label>
        <input type='password' class="form-control" name='password' ng-model="password" id="inputPassword"required>
      </div>
      <a href="/auth/facebook" class="btn btn-primary" role="button">Facebook</a>
      <!-- <div class="facebook-login" ng-click="FBlogin()"><button class="btn btn-primary">Facebook</button></div> -->
      <button type="submit" class="btn btn-default btn-sign">sign in</button>
      <p class="subtext">not a member? sign up <a href="/#/signup">here</a>!</p>
    </form>
</div>
